.header {
    position: relative;     
    @include bg-avif-webp("./../img/bg-header-section", jpg);
    background-position: top;

    &__container {
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            display: block;
            height: 175px;
            width: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.67) 4%, rgba(0, 0, 0, 0) 100%);            
        }
        

    }
    &__content {
        padding-top: 54px;
        padding-bottom: 87px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1200px) {
            padding-top: 38px;
            padding-bottom: 45px;
        }
    }
    &__logo {
        z-index: 1;
        @media (max-width: 1200px) {
            width: 140px;
            height: 27px;
        }
    }
}

.menu-burger {
    position: relative;

    &__btn {
        border: none;
        background-color: transparent;
    }

    &__svg {

    }

    &__nav {        
        overflow: hidden;
        position: absolute;
        top: 35px; //35px
        right: 41px; // 41px
        height: 0;
        opacity: 0;
        font-family: Nunito;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: #FFFFFF;
        background-color: $bg;
        padding: 0;
        border-radius: 20px 0px;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
        transition: .5s;  
        z-index: 1;      
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

.activ {    
    height: min-content;
    opacity: 1;
    padding: 30px 35px;     
}

.present { 
    position: relative;
    padding-top: 17px;
    padding-left: 78px;
    padding-bottom: 306px;
    @media (max-width: 1200px) {
        padding-left: 73px;
        padding-bottom: 214px;
    }

    &__hgroup { 
        margin-bottom: 10px;
        @media (max-width: 1200px) {
            margin-bottom: 0;
        }
    }

    &__h2 {
        font-family: Merriweather;
        font-size: 40px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        @media (max-width: 1200px) {
            font-size: 30px;
            line-height: 130%;
            letter-spacing: 0.02em;
        }
    }
    &__name {
        font-family: Nunito;
        font-weight: 200;
        font-size: 200px;
        line-height: 200px;        
        text-transform: uppercase;
        color: #FFFFFF;   
        @media (max-width: 1200px) {
            font-size: 150px;
            line-height: 160px;
        }    
    }

    &__subscription {
        font-family: Nunito;        
        font-weight: bold;
        font-size: 20px;
        line-height: 150%;
        color: #FFFFFF;
        margin-bottom: 30px;
        @media (max-width: 1200px) {
            font-size: 18px;  
            margin-bottom: 27px;          
        }
    }

    &__btn {
        position: absolute;
        top: 369px;
        right: 10px;
        @media (max-width: 1200px) {
            top: 287px;
            right: 0;
        }
    }
}