.tour {
    @include bg-avif-webp("./../img/bg-tour", png);
    min-height: 500px;
    padding-bottom: 0;
    &__container {
        
    }

    &__name {
        color: #fff;
        margin-bottom: 60px;
    }

    &__subscription {
        color: #fff;
        margin-bottom: 80px;
    }

    &__subscription-add {
        color: #fff;
        margin-bottom: 80px;
        max-width: 480px;
    }

    &__fieldset {
        border: none;
        padding: 68px 60px;
        background: rgba(230, 205, 173, 0.3);
        backdrop-filter: blur(10px);
        border-radius: 30px 30px 0px 0px;
    }

    &__calc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 23px 38px 21px;
        height: 130px;
        background: rgba(33, 25, 25, 0.78);
        border-radius: 20px;
        border: none;
    }

    &__item {
        position: relative;
        width: 217px;
        height: 87px;        
    }

    &__daw {
        position: absolute;
        top: 32px;
        right: 25px;
        display: block;
        width: 24px;
        height: 24px;
        // background-color: $bg;
        border-radius: 50%;
        &:before {
            position: absolute;
            top: 6px;
            right: 8px;
            content: "";
            display: block;
            width: 8px;
            height: 8px;
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
            transform: rotate(45deg);
        } 
    }
    

    &__label {       
        display:inline-block;
        font-weight: bold;
        color: #fff;        
        width: 100%;       
        margin-bottom: 12px;        
    }    

    &__input {
        background-color: transparent;
        width: 100%;        
        font-weight: 300;
        font-size: 16px;
        line-height: 130%;
        color: #FFFFFF;
        opacity: 0.7;
        width: 100%;
        display: none;
        // display: inline-block;
        border: none;        
        height: 0;
    }

    &__span {
        display: inline-block;
        font-weight: 300;
        font-size: 16px;
        line-height: 130%;
        color: #FFFFFF;
        opacity: 0.7;
        max-width: 152px;
    }

    &__btn {
        padding: 0;
        width: 219px;
        height: 67px;
        
    }

}